<!-- Loop over each object in the projects array -->
{{#each posts  }}
<div class="row mb-4 post">
  <div class="col-md-7">
    <p>
      {{content}}
    </p>
  </div>
</div>
{{/each}}

<a href="/dashboard/new"><button type="button">Add New post</button></a>