<!-- Loop over each object in the projects array -->
{{#each posts as |post| }}
<div class="row mb-4 post border">
  <div class="col-md-7">
    <a href="/post/{{post.id}}">{{post.title}}</a>
    <div>{{user.username}} posted on {{date_created}}</div>
  </div>
</div>
{{/each}}

