<div class="row">
  <div class="col-md-6">
      <div class="form-group">
        <label for="postTitle">{{post.title}}</label>
        <input class="form-input" type="text" id="postTitle" />
      </div>

    <form class="form edit-post-form">
      <div class="form-group">
        <label for="postContent">{{post.content}}</label>
        <textarea class="form-input"  id="postContent"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Edit</button>
      </div>
    </form>
  </div>
</div>