<div class="row">
  <div class="col-md-6">
    <h2>Add new post</h2>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="postTitle">Title:</label>
        <input class="form-input" type="text" id="postTitle" />
      </div>
      <div class="form-group">
        <label for="postContent">Content:</label>
        <textarea class="form-input"  id="postContent"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Create</button>
      </div>
    </form>
  </div>
  

</div>

<script src="/js/post.js"></script>